@import "partials/variables.scss";
@import "partials/helpers.scss";

.sidebarMode {
	//usually on html
	overflow-x: hidden;
	$rightSpacing: $facebookCustomRightSidebarWidth + 2%;
	#content {
		margin-right: $rightSpacing;
	}
	#pageHead {
		padding-right: $facebookCustomRightSidebarWidth + 2% !important;
	}
	#globalContainer {
		#mainContainer {
			#contentCol {
				margin-right: $facebookCustomRightSidebarWidth;
			}
			#rightCol {
				.rightColumnWrapper {
					right: 14% !important;
					width: 14% !important;
					@extend %fixed;
				}
			}
			#contentArea {
				width: 94% !important;
			}
			#leftCol {
				width: $facebookCustomLeftSidebarWidth - 2% !important;
			}
		}
	}
}

._41h {
	.fbTimelineUnit {
		&[data-side="r"] {
			@extend %auto;
		}
	}
	.fbTimelineUnit[data-side="r"] {
		@extend %width-100-important;
	}

	._122 {
		.uiScaledImageContainer {
			@extend %height-auto-important;
			@extend %width-100-important;
		}
	}

	.fbTimelineTwoColumn {
		.timelineUnitContainer {
			@extend %width-100-important;
		}
	}
	.fbTimelineUFI {
		@extend %width-100-important;
	}
}

._4lh .fbTimelineUnit[data-side="l"] .fbTimelineFeedbackStub, ._4lh .fbTimelineUnit[data-side="l"] .fbTimelineUFI {
	@extend %width-100-important;
}
.pal.megaphone_box {
	@extend %width-100-important;
	.sourceSuggestionMegaphoneTitle {
		@extend %width-auto-important;
	}
	.sourceSuggestionMegaphoneContent {
		@extend %width-100-important;
		#source_suggestion_picker {
			@extend %width-100-important;
		}
	}
}

//padding fixes
._4lh .timelineReportContainer .timelineUnitContainer .aboveUnitContent, ._4lh .timelineReportContainer .timelineUnitContainer .reportUnitTitle {
	@extend %border-box;
}

//layout fixes
.timelineReportContainer .timelineUnitContainer .aboveUnitContent, .timelineReportContainer .timelineUnitContainer .reportUnitTitle {
	margin: 0 0 1em 0;
	@extend %centred;
}

.ego_page {
	.UIStandardFrame_Container {
		@extend %width-100-important;
	}
}

.UIStandardFrame_Container {
	@extend %width-100-important;

	table {
		@extend %width-100-important;
	}
}

.UIStandardFrame_Content {
	@extend %width-100-important;
}

//similar friends page

.fbx._131 {
	#globalContainer {
		#mainContainer {
			#contentArea {
				width: 98%;
				@extend %border-box;
			}
		}
	}
}

._69z {
	@extend %width-100-important;
}

.fbx, .permalinkBody  {
	//usually on body

	#pagelet_bluebar {
		._585- {
			top: 0;
		}

		//logo
		#pageLogo {
			&._5bfh {
				margin-top: -6px;
			}
		}
		#blueBarHolder {

			#blueBar {
				#pageHead {
					@extend %width-100-important;
					@extend %border-box;
					padding: $facebookCustomPaddingMain;
				}
				#pageNav {
					@extend %margin-none;
					padding-right: 1em;
				}
				position: fixed !important;
			}
			&.slim {

			}
		}
	}

	//footer
	#pageFooter {
		@extend %width-100-important;
		@extend %centred;
		.navigationGrid {
			margin: 0 auto;
		}
	}
	.searchbar, ._585- {
		max-width: 29%;
		margin-left: ($facebookCustomLeftSidebarWidth + 1%);
	}
	.shareRedesign {
		@extend %width-100-important;
	}
	//links
	a {
		@extend %transition-all;
		&.highlightSelectorButton {
			@extend %transition-none;
		}
		/*		&:link {
					&:after {
						content: "->";
						margin-left: 0.4em;
					}
				}*/
	}

	//recommended pages
	#pagelet_page_browser_right_column {
		@extend %fixed;
	}

	/* =============================================================================
	Browsing Facebook
	========================================================================== */
	#BrowseResultsContainer {
		._1zf {
			max-width: none !important;
			@extend %width-100-important;
		}
	}
	//buttons
	.uiButtonGroup {

	}
	&.timelineLayout {
		#contentArea {
			@extend %width-100-important;
		}
		#rightCol {
			@extend %absolute;
			right: 59%;
			z-index: 99;
		}
	}

	&.pagesTimelineLayout {
		#fbProfileCover .coverWrap .photo {
			@extend %height-auto-important;
		}
	}
	//message/inbox layout

	._30f {

	}

	._4z0 {
		@extend %width-auto-important;
	}
	.wmMasterView {
		width: 30% !important; //message sidebar width
	}
	//dropdown arrow in sidebar
	._283 {
		right: 1em !important;
	}
	._2nb {
		//messages container (aria-main)
		@extend %border-box;
		width: 70% !important;
	}
	._2nc {
		//uiscrollable area for messages
		@extend %width-auto-important;
	}

	._4_g4 {
		width: 77%;
	}

	._4q0 {
		.fbTimelineSection {
			@extend %width-100-important;
		}
	}
	.pagesTimelineButtonPagelet {
		&.fixed_elem {
			left: 45%;
		}
	}
	.fbTimelineScrubber {
		right: 0;
		top: 4.5em;
	}
	.fbTimelineStickyHeader {
		.stickyHeaderWrap {
			.back {
				@extend %width-100-important;
			}
		}
	}
	.fbProfileEditExperiences .experience {
		@extend %width-100-important;
	}
	//soundcloud wrapper on profile
	._kk2 {
		@extend %width-100-important;

		div {

		}
	}

	.uiStreamStory {

		.photoRedesign {
			@extend %width-100-important;

			//main pic in set on timeline
			.mbs {
				float: none;
			}
		}
	}

	//Photos on profile
	.fbStarGrid {
		@extend %width-100-important;
		@extend %height-auto-important;
	}
	.fbStarGridAppendedTo {
		@extend %height-auto-important;
	}
	#pagelet_timeline_recent_more_pager {
		@extend %centred;
	}
	/*	chat sidebar*/
	.fbChatSidebar {
		width: $facebookCustomRightSidebarWidth;

	}

	//events

	&.fbEventPermalink {
		#contentArea {
			@extend %width-100-important;
		}
	}
	.fbEventLeftNav {
		@extend %auto;
	}
	.fbEventHeader {
		#fbProfileCover {
			.coverImage {
				@extend %width-100-important;
				min-height: 35em;
			}
		}
	}
	.fbEventContent {
		@extend %width-100-important;
	}
	.uiHeaderActions {
		padding-right: 3em;
	}
	&.fbCalendar {
		.fbCalendarHeader {
			@extend %width-100-important;
			.fbCalendarHeaderBorder {
				@extend %width-100-important;
			}
		}
		.fbCalendarGridTable {
			@extend %width-100-important;
			@extend %margin-none;
			padding: 1em;
			@extend %border-box;
			.fbCalendarGridCell {
				width: 16%;
			}
		}
		.fbCalendarList, .fbCalendarPager {
			@extend %width-100-important;
		}
		.fbCalendarItemContent {
			@extend %width-100-important;
		}
		.fbCalendarMonthWrapper {
			background: #FFF;
		}
		#globalContainer {
			#mainContainer {
				#contentArea {
					@extend %width-100-important;
					@extend %border-box;
				}
			}
		}
		#fbCalendarWrapper {
			@extend %width-100-important;
		}
		.fbCalendarBox {
			@extend %width-100-important;

			.mbm {
				div.lfloat {
					@extend %width-100-important;
				}
			}

			.fbCalendarMonthWrapper {
				@extend %fixed;
			}
		}

		.fbCalendarListView {
			.fbCalendarList {
				.fbCalendarPager {
					@extend %width-100-important;
				}
			}
		}
	}
	//fixed elements that really shouldn't be

	.ego_column {
		@extend %width-100-important;
	}

	//disable image borders
	.topBorder, .bottomBorder {
		background-image: none !important;
	}

	//poll questions?
	._59qe {
		@extend %transition-all;
	}

	._5amz {
		@extend %auto;
	}
	.fbTimelineFriendsBoxLarge {
		@extend %width-100-important;
	}
	._4_vp {
		@extend %width-100-important;
	}
	._55dq {
		@extend %width-100-important;
	}

	//modals
	._3qw {

	}

	._n3 {

	}

	//tooltips
	.uiTooltipX, .uiPopover, .uiContextualLayer, .rg3fbpz-tooltip {

		@extend %transition-all;
	}

	//photos in grid on profile
	.fbPhotoStarGridElement {

		margin: 1em !important;
		float: left !important;
		position: relative !important;
	}

	//grid
	.uiGrid {

		td {

		}
	}

	//status update extra
	._1dsp {

	}
	.fbTimelineComposerUnit {
		@extend %width-100-important;
	}

	.timelineUnitContainer {
		@extend %border-box;

		.uiCommentContainer {
			@extend %width-100-important;
		}
	}
	.fbTimelineTwoColumn {
		.timelineUnitContainer {
			@extend %width-100-important;
		}
	}

	.uiScaledImageContainer {
		img {
			//@extend %width-100-important;
			min-height: none !important;
			@extend %height-auto-important;
		}
	}
	#NonAdminInvite {
		@extend %width-100-important;
	}

	//lists
	._k- { //inbox list of messages
		@extend %transition-all;
	}
	.uiList {

		li {

		}
	}
	//chat mobile view flyout
	.fbNubFlyout {

	}

	._2t8o .note, .note {
		width: 49%;

		&:only-child {
			width: 100%;
		}
	}

	.groupsJumpInfoBox {
		@extend %width-100-important;
	}
	.groupsJumpInfoArea {
		@extend %margin-none;
		padding: 1em 2.8em 0.5em 0;
		@extend %border-box;
	}
	.groupsJumpBarTop {
		@extend %width-100-important;
	}
	.groupsCoverPhoto {
		@extend %width-100-important;
	}
	&.hasLeftCol {
		#mainContainer {
			//layout columns
			@extend %border-box;
			#headerArea {
				@extend %width-100-important;
				@extend %border-box;
			}
			#rightCol {
				width: $facebookCustomRightSidebarWidth;
				padding: $facebookCustomPaddingMain;
				@extend %border-box;
			}
			#leftCol {
				width: $facebookCustomLeftSidebarWidth;
				min-width: 15em;
				@extend %pull-left;
				@extend %border-box;
				@extend %fixed;
			}
			#contentArea {
				//@extend %width-100-important;
				@extend %border-box;
			}

			#contentCol {
				margin-left: $facebookCustomLeftSidebarWidth;
				@extend %border-box;
				@extend %transition-all;

				&.groupJumpLayout {
					.groupMemberBrowser {
						.groupsBrowserBio {
							@extend %auto;
						}
					}
				}
			}
		}
	}
	&._5262 { //inbox
		#globalContainer {
			#mainContainer {
				#contentArea {
					width: 85%;
				}
			}
		}
	}
	#globalContainer {
		@extend %width-100-important;

		#mainContainer {
			.groupJumpLayout {
				#rightCol {
					&[role="complementary"] {
						@extend %fixed;
						right: 0;
						top: 30em;
						@extend %height-auto-important;
					}
				}
			}
			//layout columns
			#rightCol {
				@extend %width-auto-important;
				@extend %pull-right;
				//right sidebar ticker
				&[role="complementary"] { //I really shouldn't care
					//stupid stuff on sidebar's content
					._82 {
						padding: 1em;
						@extend %margin-none;
					}
				}
				.rightColumnWrapper {
					z-index: 9999;
					right: 1em;
					width: 19%;
					&.fixed_elem {
						@extend %fixed-important;
						top: 7.8em !important;
					}
				}
			}
			#leftCol {
				width: $facebookCustomLeftSidebarWidth;
				@extend %pull-left;
			}
			#contentArea {
				width: $facebookCustomContentWidth;
				&._2nb {
					width: $facebookCustomContentWidthRightDisabled;
					._2nj {
						@extend %width-100-important;
					}
				}
				& + #rightCol {
					&[role="complementary"] { //I don't care
						@if $facebookCustomInboxSidebar == true {
							@extend %hidden;
						}
					}
				}
				//timeline
				.fbTimelineSection {
					//prevent line issue on profile page
					&.fbTimelineTopSection {
						border: none;
					}
					._3rbg {
						width: 30%;
						min-width: 20em;
					}
					._4_7u {
						@extend %margin-none;
						width: 70%;
						@extend .box;

						.fbTimelineUnit {
							padding-right: $facebookCustomPaddingMain;
						}

						.fbTimelineComposerCapsule {
							margin-top: 0;
							@extend %border-box;
						}
					}

					.fbTimelineUnit {
						@extend %transition-all;
						@extend %border-box;
						margin: 1em;

						@extend %width-100-important;
					}
				}
			}
		}
	}
	/*boxes*/
	.box {
		@extend %border-box;
		padding: $facebookCustomPaddingMain;
	}

	._4lh .fbTimelineUnit[data-side="r"] {
		width: 70%;
		min-width: 35em;
		@extend .box;
	}

	//timelines
	.timelineReportContainer {
		@extend %width-100-important;
		table {
			@extend %width-100-important;
		}
		.timelineReportContent {
			.timelineUnitContainer {
				padding: 1em;
				//@extend %width-100-important;
				&._503z {
					@extend %width-100-important;
				}
			}
		}
	}

	//photos
	.photoUnit {
		@extend %margin-none;
		@extend %border-box;
		.photoWrap {
			@extend %height-auto-important;
			@extend %width-100-important;
		}
		.photo {
			@extend %width-100-important;
			float: none;
		}
	}

	/* =============================================================================
	Notes
	========================================================================== */
	._4bmm {
		@extend %width-auto-important;
		div[role="main"] {
			width: 80%;
			@extend %border-box;
			& + div {
				width: 20%;
				@extend %margin-none;
				padding: 1em;
				@extend %border-box;
				div {
					@extend %width-auto-important;
				}
			}
		}
	}
}

.fbFeedTicker {
	@extend %width-100-important;
	.tickerStoryClickable {
		@extend %transition-all;
	}
	.ticker_container {
		@extend %width-100-important;

		.tickerStoryImage {
			width: 3%;
			min-width: 3em;
			max-width: 10em;
			@extend %height-auto-important;
		}
		.tickerStoryContent {
			max-width: none;
		}
	}
}

//reminders
.fbReminders {
	.fbRemindersStory {
		@extend %transition-all;
	}
}

.UFIContainer {
	@extend %width-100-important;
}

.timelineLayout #contentArea, .timelineLayout #contentCol, ._2w3, .fbx .rightColumnWrapper .fixed_scrolling_wrapper, .uiScrollableAreaBody, .homeWiderContent div#rightCol .home_right_column {
	@extend %width-100-important;
}

@import "partials/media-queries.scss";