@import "partials/variables.scss";
@import "partials/helpers.scss";
@import "companimation";
/*@import "companimation/preset";*/
@import "companimation/preset/fade";
@import "companimation/preset/flip";

.sidebarMode { //usually on html
	#globalContainer {
		#mainContainer {
			#contentCol {
				margin-right: $facebookCustomRightSidebarWidth;
			}
		}
	}
}

._41h {
	.fbTimelineUnit{
		&[data-side="r"] {
			@extend %auto;
		}
	}
	.fbTimelineUnit[data-side="r"] {
		@extend %width-100;
	}

	._122 {
		.uiScaledImageContainer {
			height: auto !important;
			@extend %width-100;
		}
	}

	.fbTimelineTwoColumn {
		.timelineUnitContainer {
			@extend %width-100;
		}
	}
	.fbTimelineUFI {
		@extend %width-100;
	}
}

._4lh .fbTimelineUnit[data-side="l"] .fbTimelineFeedbackStub, ._4lh .fbTimelineUnit[data-side="l"] .fbTimelineUFI {
	@extend %width-100;
}

//padding fixes
._4lh .timelineReportContainer .timelineUnitContainer .aboveUnitContent, ._4lh .timelineReportContainer .timelineUnitContainer .reportUnitTitle {
	@extend %border-box;
}

//layout fixes
.timelineReportContainer .timelineUnitContainer .aboveUnitContent, .timelineReportContainer .timelineUnitContainer .reportUnitTitle {
	margin: 0 0 1em 0;
	@extend %centred;
}

.ego_page {
	.UIStandardFrame_Container {
		@extend %width-100;
	}
}

.UIStandardFrame_Container {
	@extend %width-100;

	table {
		@extend %width-100;
	}
}

.UIStandardFrame_Content {
	@extend %width-100;
}

//similar friends page

.fbx._131 {
	#globalContainer {
		#mainContainer {
			#contentArea {
				width: 98%;
			}
		}
	}
}

._69z {
	@extend %width-100;
}

.fbx { //usually on body

	#pagelet_bluebar {
		._585- {
			top: 0;
		}

		//logo
		#pageLogo {
			&._5bfh {
				margin-top: -6px;
			}
		}
		#blueBarHolder {
			@extend %delayed-1;
			@extend %fadeIn;
			#blueBar {
				#pageHead {
					@extend %width-100;
					padding: $facebookCustomPaddingMain;
				}
				position: fixed !important;
			}
			&.slim {

			}
		}
	}

	//footer
	#pageFooter {
		@extend %width-100;
		@extend %centred;
		.navigationGrid {
			margin: 0 auto;
		}
	}
	.searchbar, ._585- {
		max-width: 29%;
		margin-left: ($facebookCustomLeftSidebarWidth + 1%);
	}
	.shareRedesign {
		@extend %width-100;
	}
	//links
	a {
		@extend %transition-all;
/*		&:link {
			&:after {
				content: "->";
				margin-left: 0.4em;
			}
		}*/
	}

	//buttons
	.uiButtonGroup {
		@extend %fadeIn;
		@extend %delayed-2;
	}
	&.timelineLayout {
		#contentArea {
			@extend %width-100;
		}
		#rightCol {
			@extend %absolute;
			right: 59%;
			z-index: 99;
		}
	}

	&.pagesTimelineLayout {
		#fbProfileCover .coverWrap .photo {
			height: auto !important;
		}
	}
	//message/inbox layout

	._30f {
		@extend %fadeInUp;
	}

	._4_g4 {
		width: 77%;
	}

	._4q0 {
		.fbTimelineSection {
			@extend %width-100;
		}
	}
	.fbProfileEditExperiences .experience {
		@extend %width-100;
	}
	//soundcloud wrapper on profile
	._kk2 {
		@extend %width-100;

		div {
			@extend %fadeInUp;
			@extend %delayed-1;
		}
	}

	.uiStreamStory {
		@extend %fadeIn;

		.photoRedesign {
			@extend %width-100;

			//main pic in set on timeline
			.mbs {
				float: none;
			}
		}
	}

	//Photos on profile
	.fbStarGrid {
		@extend %width-100;
		height: auto !important;
	}
	.fbStarGridAppendedTo {
		height: auto !important;
	}
	#pagelet_timeline_recent_more_pager {
		@extend %centred;
	}
	/*	chat sidebar*/
	.fbChatSidebar {
		width: $facebookCustomRightSidebarWidth;
		@extend %fadeIn;
	}

	//events

	&.fbEventPermalink {
		#contentArea {
			@extend %width-100;
		}
	}
	.fbEventLeftNav {
		@extend %auto;
	}
	.fbEventHeader {
		#fbProfileCover{
			.coverImage {
				@extend %width-100;
				min-height: 35em;
			}
		}
	}
	.fbEventContent {
		@extend %width-100;
		@extend %flipInX;
		@extend %delayed-2;
	}

	&.fbCalendar {
		.fbCalendarHeader {
			@extend %width-100;
		}
		#globalContainer {
			#mainContainer {
				#contentArea {
					@extend %width-100;
				}
			}
		}
		#fbCalendarWrapper {
			@extend %width-100;
		}
		.fbCalendarBox {
			@extend %width-100;

			.mbm {
				div.lfloat {
					@extend %width-100;
				}
			}

			.fbCalendarMonthWrapper {
				@extend %fixed;
			}
		}

		.fbCalendarListView {
			.fbCalendarList {
				.fbCalendarPager {
					@extend %width-100;
				}
			}
		}
	}
	//fixed elements that really shouldn't be

	.ego_column {
		@extend %width-100;
	}

	//disable image borders
	.topBorder, .bottomBorder {
		background-image: none !important;
	}

	//poll questions?
	._59qe {
		@extend %transition-all;
	}

	._5amz {
		@extend %auto;
	}
	.fbTimelineFriendsBoxLarge {
		@extend %width-100;
	}
	._4_vp {
		@extend %width-100;
	}
	._55dq {
		@extend %width-100;
	}

	//modals
	._3qw {
		@extend %fadeIn;
	}

	._n3 {
		@extend %fadeInUp;
		@extend %delayed-1;
	}

	//tooltips
	.uiTooltipX, .uiPopover, .uiContextualLayer, .rg3fbpz-tooltip   {
		@extend %fadeIn;
		@extend %transition-all;
	}

	//photos in grid on profile
	.fbPhotoStarGridElement {
		@extend %fadeIn;
		margin: 1em !important;
		float: left !important;
		position: relative !important;
	}

	//grid
	.uiGrid {
		@extend %fadeIn;

		td {
			@extend %flipInY;
			@extend %delayed-1;
		}
	}

	//status update extra
	._1dsp {
		@extend %fadeIn;
	}
	.fbTimelineComposerUnit {
		@extend %width-100;
	}

	.timelineUnitContainer {
		@extend %border-box;
		
		.uiCommentContainer {
			@extend %width-100;
		}
	}
	.fbTimelineTwoColumn {
		.timelineUnitContainer {
			@extend %width-100;
		}
	}

	.uiscaledimageContainer {
		img {
			@extend %width-100;
			min-height: none !important;
			height: auto !important;
		}
	}
	#NonAdminInvite {
		@extend %width-100;
	}

	//lists
	.uiList {
		@extend %fadeInUp;
		@extend %delayed-1;
		li {
			@extend %delayed-3;
			@extend %fadeInUp;
		}
	}
	//chat mobile view flyout
	.fbNubFlyout {
		@extend %fadeIn;
	}

	._2t8o .note, .note {
		width: 49%;

		&:only-child {
			width: 100%;
		}
	}

	.groupsJumpInfoBox {
		@extend %width-100;
	}
	&.hasLeftCol {
		#mainContainer {
			//layout columns
			@extend %border-box;
			#headerArea {
				@extend %width-100;
				@extend %border-box;
			}
			#rightCol {
				//width: $facebookCustomRightSidebarWidth;
				@extend %width-100;
				padding: $facebookCustomPaddingMain;
				@extend %border-box;
			}
			#leftCol {
				width: $facebookCustomLeftSidebarWidth;
				min-width: 15em;
				@extend %pull-left;
				@extend %border-box;
				@extend %fixed;
			}
			#contentArea {
				@extend %width-100;
				@extend %border-box;
			}

			#contentCol {
				margin-left: $facebookCustomLeftSidebarWidth;
				@extend %border-box;
				@extend %transition-all;

				&.groupJumpLayout {
					.groupsEditDescriptionArea {
						div {
							@extend %fadeInUp;
						}
					}
					.groupMemberBrowser {
						.groupsBrowserBio {
							@extend %auto;
						}
					}
				}
			}
		}
	}
	#globalContainer {
		@extend %width-100;
		@extend %delayed-2;
		@extend %fadeInUp;

		#mainContainer {
			//layout columns
			#rightCol {
				width: $facebookCustomRightSidebarWidth;
				@extend %pull-right;
			}
			#leftCol {
				width: $facebookCustomLeftSidebarWidth;
				@extend %pull-left;
			}
			#contentArea {
				width: $facebookCustomContentWidth;
				&._2nb {
					width: $facebookCustomContentWidthRightDisabled;
					._2nj {
						@extend %width-100;
					}
				}
				//timeline
				.fbTimelineSection {
					&.fbTimelineCompactSection {

					}

					//prevent line issue on profile page
					&.fbTimelineTopSection {
						border: none;
					}
					._3rbg {
						width: 30%;
						min-width: 20em;
					}
					._4_7u {
						@extend %margin-none;
						width: 70%;
						@extend .box;

						.fbTimelineUnit {
							padding-right: $facebookCustomPaddingMain;
						}

						.fbTimelineComposerCapsule {
							margin-top: 0;
							@extend %border-box;
						}
					}

					.fbTimelineUnit {
						@extend %transition-all;
						@extend %border-box;
						margin: 1em;
						@extend %fadeInUp;
						@extend %width-100;
					}
				}
			}
		}
	}
	/*boxes*/
	.box {
		@extend %border-box;
		padding: $facebookCustomPaddingMain;
	}

	._4lh .fbTimelineUnit[data-side="r"] {
		width: 70%;
		min-width: 35em;
		@extend .box;
	}

	//timelines
	.timelineReportContainer {
		@extend %width-100;
		table {
			@extend %width-100;
		}
		.timelineReportContent {
			.timelineUnitContainer {
				padding: 1em;
				//@extend %width-100;
				&._503z {
					@extend %width-100;
					@extend %fadeIn;
					@extend %delayed-3;
				}
			}
		}
	}

	//photos
	.photoUnit {
		@extend %margin-none;
		@extend %border-box;
		.photoWrap {
			height: auto !important;
			@extend %width-100;
		}
		.photo {
			@extend %width-100;
			float: none;
		}
	}
}


.fbFeedTicker {
	@extend %width-100;
	.tickerStoryClickable {
		@extend %transition-all;
	}
	.ticker_container {
		@extend %width-100;

		.tickerStoryImage {
			width: 3%;
			min-width: 3em;
			max-width: 10em;
			height: auto;
		}
		.tickerStoryContent {
			max-width: none;
		}
	}
}

//reminders
.fbReminders {
	.fbRemindersStory {
		@extend %transition-all;
	}
}
.UFIContainer{
	@extend %width-100;
}

.timelineLayout #contentArea, .timelineLayout #contentCol, ._2w3, .fbx .rightColumnWrapper .fixed_scrolling_wrapper, .tickerOnTop .rightColumnWrapper, .uiScrollableAreaBody, .homeWiderContent div#rightCol .home_right_column {
	@extend %width-100;
}

@import "partials/media-queries.scss";